[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = warning

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable
